@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Poppins&family=Satisfy&display=swap');
.navbar{
    background-color: #2e3047;
  
}
.navbar-brand img{
    width: 5%;
}
.navbar-brand {
    margin-right: 34%;
    color: #53d3d1;
    text-shadow:0px 0px 10px #53d3d1,
                0px 0px 20px #53d3d1;
    /* font-family: 'Satisfy', cursive; */
    font-weight: 900;
    letter-spacing: 7px;
}
.nav-link{
    color: #53d3d1 !important;
    font-weight: 600;
    letter-spacing: 1px;
  
}
.nav-link:hover{
    text-shadow:0px 0px 10px #53d3d1;
    /* 0px 0px 20px #53d3d1; */
}
.nav-admin-name{
    color: #53d3d1;
    margin-left: 45%;
    
}
