.studentreg-mainn{
    background: #2e3047;
    height: 92vh;
    padding-top: 3%;
    padding-bottom: 4%;
}
.student-reg-card-heading{
    text-align: center;
}
.studentreg-card{
    border: 2px solid #53d3d1;
    background-color:#2e3047 ;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 50px !important;
}
.studentreg-card h4{
    color: #53d3d1;
    font-weight: 800;
}
.student-reg-form{
    /* background-color: red; */
    text-align: center;
}
.student-reg-form input{
    background-color: transparent;
    border: 2px solid #53d3d1 !important ;
    margin-top: 20px;
    color: #53d3d1;
    width: 40%;
    margin-right: 10px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.batch-sem-at{
    width: 26.3% !important;
}
.student-reg-form select{
    background-color: transparent;
    border: 2px solid #53d3d1 !important ;
    margin-top: 20px;
    color: #53d3d1;
    width: 40%;
    margin-right: 10px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.studentreg-card button{
    background-color: #53d3d1;
    border: 2px solid #53d3d1 ;
    color: #2e3047;
    font-weight: 800;
    margin-top: 20px;
    padding: 5px 16px;
    border-radius: 5px;
}
.internal{
    text-align: start;
    padding-left: 9%;
    margin-top: 10px;
    color: #53d3d1;
}
.sub-mark{
    width: 10% !important;
    margin-left: 4px;
}
label{
    color: #53d3d1;
}
.address{
    width: 81% !important;
}
.internal-mark{
    height: 80px;
    width: 81%;
    border-radius: 5px;
    margin: auto;
}
.file{
    border: 1px solid #2e3047 !important;
    padding: 4px;
}
.stude-dp img{
   width: 20%;
}