.stafflogin-main{
    background: rgb(254, 233, 171);
    height: 92vh;
    padding-top: 9%;
}
.staff-login-card-heading{
    text-align: center;
}
.stafflogin-card{
    /* border: 2px solid rgb(98, 61, 0); */
    background-color:rgb(255, 216, 152) ;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}
.stafflogin-card h4{
    color: rgb(98, 61, 0);
    font-weight: 800;
}
.staff-login-form{
    /* background-color: red; */
    text-align: center;
}
.staff-login-form input{
    background-color: transparent;
    border: 2px solid rgb(98, 61, 0) ;
    margin-top: 20px;
    width: 60%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.stafflogin-card button{
    background-color: rgb(98, 61, 0);
    border: 2px solid rgb(98, 61, 0) ;
    color: white;
    margin-top: 20px;
    padding: 5px 16px;
    border-radius: 5px;
}
.staff-login-ihave-ac{
    text-align: center;
    margin-top: 20px;
}