.stafflogin-main{
    background: #2e3047;
    height: 92vh;
    padding-top: 9%;
}
.staff-login-card-heading{
    text-align: center;
}
.stafflogin-card{
    border: 2px solid #53d3d1;
    background-color:#2e3047 ;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}
.stafflogin-card h4{
    color: #53d3d1;
    font-weight: 800;
}
.staff-login-form{
    /* background-color: red; */
    text-align: center;
}
.staff-login-form input{
    background-color: transparent;
    border: 2px solid #53d3d1 ;
    margin-top: 20px;
    width: 60%;
    color: #53d3d1;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.stafflogin-card button{
    background-color: #53d3d1;
    border: 2px solid #53d3d1;
    color: #2e3047;
    margin-top: 20px;
    padding: 5px 16px;
    font-weight: 800;
    border-radius: 5px;
}
.staff-login-ihave-ac{
    text-align: center;
    margin-top: 20px;
}
.forgot-pwd-div{
    /* tex t-align: right; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    /* background-color: yellow; */
    margin: auto;
}
.forgot-pwd{
    font-size: 12px;
    /* text-decoration: none; */
    color: #53d3d1;
    text-align: right;
}
.forgot-pwd:hover{
    color: #53d3d1;
}